.custom-navbar {
  background-color:#fff;
  box-shadow: 0 2px 4px rgba(203, 203, 203, 0.1);
  padding: 10px 0; /* Reduced padding */
  margin-top: 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
  position: sticky;
  margin-top: 0;
}

.custom-navbar .navbar-brand {
  color: #000;
  font-size: 20px; /* Reduced font size */
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.custom-navbar .nav-link {
  color: #000;
  font-size: 16px; /* Reduced font size */
  font-weight: 500;
  margin-left: 10px;
  text-transform: capitalize;
}

.custom-navbar .nav-link:hover {
  color: #007bff;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.custom-navbar .navbar-brand:hover {
  transform: translateY(-2px);
}

.custom-navbar .nav-link:hover {
  transform: translateY(2px);
}

@media (max-width: 768px) {
  .custom-navbar {
    padding: 8px 0; /* Reduced padding for smaller screens */
    box-shadow: none;
  }
}
